pandas
-f https://download.pytorch.org/whl/torch_stable.html                                                                                                                                                             
torch==2.0.1+cpu
torchvision
numpy
matplotlib
seaborn
gunicorn
flask-cors
pyfcm
python-decouple
flask>=2.3.3
werkzeug>=2.3.7
gunicorn

